*{
    padding:10px;
    margin:0;
}


section{
  margin: 20px 0;
}

ul{
  padding-left: 40px;
}

ul ul ul {
  margin-top: 10px;
}

/* Add style here */
li:nth-child(1){
    color: royalblue;
}
li:nth-child(2){
    color: forestgreen;
}
li:nth-child(3){
    color: crimson;
}
ul ul li:nth-child(1){
    color:darkviolet;
    background-color: #f0f0f0;
    border-radius: 20px;
}
ul ul li:nth-child(3){
    color:darkviolet;
    background-color:#f0f0f0;
    border-radius: 20px;
}
ul ul ul li:nth-child(1){
  color:darkorange;
  background-color:#fdf6e3;
  border-radius: 20px;
  font-size:small
}
ul li:nth-last-child(1){
  color:royalblue
}
